/*
* 1-setting
*/
@import "1-setting/color";
@import "1-setting/config";
@import "1-setting/font";
/*
* 2-mixin
*/
@import "2-mixin/mixin";
/*
* 3-base
*/
@import "3-base/reset";
@import "3-base/generic";
/*
* 4-layout
*/
@import "4-layout/l-container";
@import "4-layout/l-footer";
@import "4-layout/l-header";
@import "4-layout/l-main";
@import "4-layout/l-sidebar";
@import "4-layout/l-grid";
@import "4-layout/l-index";

/*
library
*/
@import "../lib/slick-carousel/slick/slick.css";

/*
* 5-module
*/
@import "5-module/icon/icon";
@import "5-module/sprites/sprite-sns-2x";
@import "5-module/logo";
@import "5-module/media";
@import "5-module/sns";
@import "5-module/nav";
@import "5-module/button";
@import "5-module/banner";
@import "5-module/page-top";
@import "5-module/headline";
@import "5-module/single-header";
@import "5-module/single-body";
@import "5-module/category";
@import "5-module/border";
@import "5-module/box";
@import "5-module/input";
@import "5-module/textarea";
@import "5-module/share";
/*
* 6-utility
*/
@import "6-utility/utility";

.author {

    $this: &;

    overflow: hidden;

    &-img {
        float: left;
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
    &-body {
        color: $color-gray;
        margin-left: 28px + 5px;
    }
    &-name {
        font-size: 12px;
    }
    &-info {
        font-size: 10px;
    }

    //modifier
    &-card {
        #{$this}{
            &-body {
                color: #fff;
            }
            &-name {
                display: inline-block;
                vertical-align: middle;
                font-size: 11px;
                padding-right: 5px;
                border-right: 1px solid #fff;
            }
            &-info {
                display: inline-block;
                vertical-align: middle;
                font-size: 11px;
            }
        }
    }
}

.link {

    &-inner {
        display: block;
        text-align: center;
        padding: 20px 0;
        color: #EB8E6C;
        font-size: 16px;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
    &-text {
        vertical-align: middle;
        text-decoration: none;
    }
    &-arrow {
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        border-top: 2px solid #EB8E6C;
        border-right: 2px solid #EB8E6C;
        transform: rotate(45deg);
    }
}

.heading {
    padding: 0 18px 12px;
    border-bottom: 2px solid #EB8E6C;
    &-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    &-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
    }
}

.ranking {
    &-heading {
    }
    &-list {
        padding: 0 18px;
        > li {
            padding: 18px 0;
            border-bottom: 1px dashed $color-base;
        }
    }

    &-link {
    }
}

.book-heading {
    text-align: center;
    &-inner {
        display: inline-block;
    }
    &-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
        top: 4px;
    }
    &-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 28px;
    }
}

.search {
    border-radius: 52px;
    padding: 6px 0 6px 10px;
    border: 2px solid #EB8E6C;
    background-color: #fff;
    position: relative;
    &-icon {
        display: inline-block;
        vertical-align: middle;
        transform: translateY(2px) scaleX(-1);
        opacity: .5;
    }
    &-input {
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 90px);
        font-size: 11px;
        opacity: .5;
        &:focus {
            opacity: 1;
        }
    }
    &-button {
        border-radius: 32px;
        background-color: #EB8E6C;
        font-size: 12px;
        color: #fff;
        padding: 8px 16px;
        position: absolute;
        right: 2px;
        top: 2px;
    }
}

.keywords {
    background-color: #F2F0E1;
    padding: 32px 0;

    &-title {
        display: inline-block;
        font-size: 12px;
        background-color: #fff;
        padding: 5px 5px 5px 18px;
        margin-bottom: 5px;
    }
    &-data {
        padding: 0 18px;
        a {
            color: $color-default;
            font-size: 14px;
        }
    }
}

.dictionary {
    padding-top: 50px;
    background: url(#{$path-image}/dictionary-bg.png) repeat-x 0 0;
    background-size: 12px 36px;
    &-heading {
        margin-bottom: 10px;
    }
    &-search {
        padding: 0 18px;
    }
    &-keywords {
        margin-top: -20px;
        margin-bottom: 50px;
    }
    &-list {
        padding: 0 18px;
        > li {
            border-bottom: 1px dashed $color-base;
        }
    }
}

.word {
    display: block;
    padding: 12px 0;
    &:hover {
        text-decoration: none;
    }
    &-inner {

    }
    &-title {
        margin-bottom: 13px;
        &-icon {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            background-color: #EB8E6C;
            svg {
                transform: scaleX(-1);
                width: 12px;
                height: 12px;
            }
            path {
                fill: #fff;
            }
        }
        &-text {
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;
            font-family: $font-min;
            color: #EB8E6C;
            font-size: 20px;
        }
    }
    &-data {
        font-size: 12px;
        color: #555;
    }
}

.trigger {
    text-align: center;
    display: block;
    width: 38px;

    > span {
        display: block;
        background-color: $color-gray;
        width: 14px;
        height: 3px;
        margin: 2px auto;
    }
    &-text {
        font-size: 8px;
        color: $color-gray;
    }
}

.hero {

    &-inner {
        background-color: #F2F0E1;
        padding: 20px 0 120px;
    }

    &-heading {
        text-align: center;
        font-size: 14px;
        letter-spacing: .05em;
    }

    &-slider {
        margin-top: -100px;

        .slick-slide {
            padding: 0 18px;
        }
    }

    .slick-dots {
        text-align: center;

        > li {
            display: inline-block;
            margin: 0 5px;

            > button {
                font-size: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $color-gray;
            }

            &.slick-active {
                > button {
                    background-color: #EB8E6C;
                    transform: scale(1.2);
                }
            }
        }
    }
}

.card {
    $this: &;
    
    &-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #fff;
    }

    &-category {
        text-align: center;
    }

    &-inner {
        padding: 10px;
        position: relative;
    }

    &-new {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
    }

    &-heading {
        font-size: 14px;
        margin: 32px 0 10px;
    }
    
    //modifier
    &-a {
        #{$this}-inner {
            background-color: rgba(#FFA93D, .5);
        }
    }
    &-b {
        #{$this}-inner {
            background-color: rgba(#5FBF00, .5);
        }
    }
    &-c {
        #{$this}-inner {
            background-color: rgba(#1CB0E0, .5);
        }
    }
}

.new {
    width: 34px;
    height: 34px;
    color: #fff;
    background-color: #E2264D;
    border-radius: 0 0 100% 0;
    font-size: 9px;
    position: relative;

    > span {
        position: absolute;
        transform: rotate(-45deg) translate(-2px, 7px);
    }
}

.panel {
    $this: &;

    border-top: 4px solid transparent;

    &-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: $color-default;

        &:hover {
            text-decoration: none;
        }
    }

    &-meta {
        overflow: hidden;
    }

    &-time {
        float: right;
        font-size: 9px;
        color: $color-gray;
        padding: 9px 0;
    }

    &-img {
        position: relative;

        > img {
            width: 100%;
            height: auto;
        }
    }

    &-new {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
    }

    &-inner {
        padding-top: 10px;
    }

    &-heading {
        font-size: 12px;
        margin: 5px 0 10px;
        height: 57px;
    }

    //modifier
    &-primary {
        #{$this}{
            &-inner {
                padding: 0 10px;
                margin-top: -42px;
                position: relative;
                z-index: 2;
            }
            &-heading {
                margin-top: 20px;
                height: auto;
            }
            &-time {
                display: none;
            }
        }
    }

    //modifier color
    &-a {
        border-color: #FFA93D;
    }
    &-b {
        border-color: #5FBF00;
    }
    &-c {
        border-color: #1CB0E0;
    }
}

.recommend {
    border-bottom: 4px solid #F2F0E1;

    &-heading {
        margin-bottom: 15px;
    }
    &-latest {
        padding: 0 10px 10px;
        border-bottom: 1px solid $color-base;
    }
    &-grid {
        &-inner {}
        &-item {
            padding: 10px;
            border-bottom: 1px solid $color-base;

            &:nth-child(odd){
                border-right: 1px solid $color-base;
            }
            &:nth-child(even){
                border-right: 1px solid transparent;
            }
        }
    }
}

