/*
* 1-setting
*/
@import "1-setting/color";
@import "1-setting/config";
@import "1-setting/font";
/*
* 2-mixin
*/
@import "2-mixin/mixin";
/*
* 3-base
*/
@import "3-base/reset";
@import "3-base/generic";
/*
* 4-layout
*/
@import "4-layout/l-container";
@import "4-layout/l-footer";
@import "4-layout/l-header";
@import "4-layout/l-main";
@import "4-layout/l-sidebar";
@import "4-layout/l-grid";
@import "4-layout/l-index";
/*
library
*/
@import "../lib/slick-carousel/slick/slick.css";
/*
* 5-module
*/
@import "5-module/icon/icon";
@import "5-module/sprites/sprite-sns-2x";
@import "5-module/logo";
@import "5-module/media";
@import "5-module/sns";
@import "5-module/nav";
@import "5-module/button";
@import "5-module/banner";
@import "5-module/page-top";
@import "5-module/headline";
@import "5-module/single-header";
@import "5-module/single-body";
@import "5-module/category";
@import "5-module/border";
@import "5-module/box";
@import "5-module/input";
@import "5-module/textarea";
@import "5-module/share";
/*
* 6-utility
*/
@import "6-utility/utility";

.author {

    $this: &;

    overflow: hidden;

    &-img {
        float: left;
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
    &-body {
        color: $color-gray;
        margin-left: 28px + 5px;
    }
    &-name {
        font-size: 12px;
    }
    &-info {
        font-size: 10px;
    }

    //modifier
    &-card {
        #{$this} {
            &-body {
                color: #fff;
            }
            &-name {
                display: inline-block;
                vertical-align: middle;
                font-size: 11px;
                padding-right: 5px;
                border-right: 1px solid #fff;
            }
            &-info {
                display: inline-block;
                vertical-align: middle;
                font-size: 11px;
            }
        }
    }
}

.link {

    $this: &;

    &-inner {
        display: block;
        text-align: center;
        padding: 20px 0;
        color: #EB8E6C;
        font-size: 16px;
        text-decoration: none;

        &:hover {
            text-decoration: none;

            #{$this}-arrow {
                right: -10px;
            }
        }
    }
    &-text {
        vertical-align: middle;
        text-decoration: none;
    }
    &-arrow {
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        border-top: 2px solid #EB8E6C;
        border-right: 2px solid #EB8E6C;
        transform: rotate(45deg);
        position: relative;
        right: 0;
        transition: right $duration $easing;
    }
}

.heading {
    padding: 0 18px 12px;
    border-bottom: 2px solid #EB8E6C;
    &-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    &-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
    }
}

.ranking {
    &-heading {
    }
    &-list {
        padding: 0 18px;

        @include queryLager($break-large) {
            padding: 0;
        }

        > li {
            padding: 18px 0;
            border-bottom: 1px dashed $color-base;
        }
    }

    &-link {
    }
}

.book-heading {
    text-align: center;
    &-inner {
        display: inline-block;
    }
    &-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
        top: 4px;
    }
    &-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 28px;
    }
}

.search {
    border-radius: 52px;
    padding: 6px 0 6px 10px;
    border: 2px solid #EB8E6C;
    background-color: #fff;
    position: relative;
    &-icon {
        display: inline-block;
        vertical-align: middle;
        transform: translateY(2px) scaleX(-1);
        opacity: .5;
    }
    &-input {
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 90px);
        font-size: 11px;
        opacity: .5;
        &:focus {
            opacity: 1;
        }
    }
    &-button {
        border-radius: 32px;
        background-color: #EB8E6C;
        font-size: 12px;
        color: #fff;
        padding: 8px 16px;
        position: absolute;
        right: 2px;
        top: 2px;
    }
}

.keywords {
    background-color: #F2F0E1;
    padding: 32px 0;

    &-title {
        display: inline-block;
        font-size: 12px;
        background-color: #fff;
        padding: 5px 5px 5px 18px;
        margin-bottom: 5px;
    }
    &-data {
        padding: 0 18px;
        a {
            color: $color-default;
            font-size: 14px;
        }
    }
}

.dictionary {
    padding-top: 50px;
    background: url(#{$path-image}/dictionary-bg.png) repeat-x 0 0;
    background-size: 12px 36px;
    &-heading {
        margin-bottom: 10px;
    }
    &-search {
        padding: 0 18px;
    }
    &-keywords {
        margin-top: -20px;
        margin-bottom: 50px;
    }
    &-list {
        padding: 0 18px;
        > li {
            border-bottom: 1px dashed $color-base;
        }
    }
}

.word {
    display: block;
    padding: 12px 0;
    &:hover {
        text-decoration: none;
    }
    &-inner {

    }
    &-title {
        margin-bottom: 13px;
        &-icon {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            background-color: #EB8E6C;
            svg {
                transform: scaleX(-1);
                width: 12px;
                height: 12px;
            }
            path {
                fill: #fff;
            }
        }
        &-text {
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;
            font-family: $font-min;
            color: #EB8E6C;
            font-size: 20px;
        }
    }
    &-data {
        font-size: 12px;
        color: #555;
    }
}

.trigger {
    text-align: center;
    display: block;
    width: 38px;

    &:hover {
        text-decoration: none;
    }

    > span {
        display: block;
        background-color: $color-gray;
        width: 14px;
        height: 3px;
        margin: 2px auto;
    }
    &-text {
        font-size: 8px;
        color: $color-gray;
    }
}

.hero {

    &-inner {
        background-color: #F2F0E1;
        padding: 20px 0 120px;
    }

    &-heading {
        text-align: center;
        font-size: 14px;
        letter-spacing: .05em;
    }

    &-slider {
        position: relative;
        margin-top: -100px;

        .slick-slide {
            padding: 0 18px;
        }
    }

    .slick-list {
        position: relative;
        z-index: 2;
    }

    .slick-arrow {
        display: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #EB8E6C;
        font-size: 0;
        position: absolute;
        z-index: 3;
        top: 50%;
        transform: translateY(-50%);

        &:after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            position: absolute;
            left: 50%;
            top: 50%;
        }

        @include queryLager($break-large) {
            display: block;
        }
    }

    .slick-prev {
        left: 20px;
        &:after {
            transform: translate(-50%, -50%) rotate(-135deg);
        }
    }
    .slick-next {
        right: 20px;
        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    .slick-dots {
        text-align: center;

        > li {
            display: inline-block;
            margin: 0 5px;

            > button {
                font-size: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $color-gray;
            }

            &.slick-active {
                > button {
                    background-color: #EB8E6C;
                    transform: scale(1.2);
                }
            }
        }
    }
}

.card {
    $this: &;

    position: relative;
    overflow: hidden;

    @include queryLager($break-large) {
        width: 420px;
    }

    &-link {
        display: block;
        color: #fff;

        &:hover {
            text-decoration: none;
            #{$this}-img {
                transform: scale(1.2);
            }
        }
    }

    &-category {
        text-align: center;
    }

    &-inner {
        padding: 10px;
        position: relative;
        z-index: 2;

        @include queryLager($break-large) {
            padding: 20px;
        }
    }

    &-new {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
    }

    &-heading {
        font-size: 14px;
        margin: 32px 0 10px;

        @include queryLager($break-large) {
            font-size: 18px;
        }
    }

    &-img {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: transform $duration $easing;
    }

    //modifier
    &-a {
        #{$this}-inner {
            background-color: rgba(#FFA93D, .5);
        }
    }
    &-b {
        #{$this}-inner {
            background-color: rgba(#5FBF00, .5);
        }
    }
    &-c {
        #{$this}-inner {
            background-color: rgba(#1CB0E0, .5);
        }
    }
}

.new {
    width: 34px;
    height: 34px;
    color: #fff;
    background-color: #E2264D;
    border-radius: 0 0 100% 0;
    font-size: 9px;
    position: relative;

    > span {
        position: absolute;
        transform: rotate(-45deg) translate(-2px, 7px);
    }
}

.panel {
    $this: &;

    border-top: 4px solid transparent;

    &-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: $color-default;

        &:hover {
            text-decoration: none;

            #{$this}-img{
                > img {
                    transform: scale(1.2);
                }
            }
        }
    }

    &-meta {
        overflow: hidden;
    }

    &-time {
        float: right;
        font-size: 9px;
        color: $color-gray;
        padding: 9px 0;
    }

    &-img {
        position: relative;
        overflow: hidden;

        > img {
            width: 100%;
            height: auto;
            transition: transform $duration $easing;
        }
    }

    &-new {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
    }

    &-inner {
        padding-top: 10px;
    }

    &-heading {
        font-size: 12px;
        margin: 5px 0 10px;
        height: 57px;
    }

    //modifier
    &-primary {
        #{$this} {
            &-inner {
                padding: 0 10px;
                margin-top: -42px;
                position: relative;
                z-index: 2;
            }
            &-heading {
                margin-top: 20px;
                height: auto;
            }
            &-time {
                display: none;
            }
        }
    }

    //modifier color
    &-a {
        border-color: #FFA93D;
    }
    &-b {
        border-color: #5FBF00;
    }
    &-c {
        border-color: #1CB0E0;
    }
}

.recommend {
    border-bottom: 4px solid #F2F0E1;

    &-heading {
        margin-bottom: 15px;
    }
    &-latest {
        padding: 0 10px 10px;
        border-bottom: 1px solid $color-base;

        @include queryLager($break-large) {
            display: none;
        }
    }
    &-grid {
        &-inner {
        }
        &-item {
            padding: 10px;
            border-bottom: 1px solid $color-base;

            @include queryLager($break-large) {
                border: 0;
            }

            &:nth-child(odd) {
                border-right: 1px solid $color-base;

                @include queryLager($break-large) {
                    border: 0;
                }
            }
            &:nth-child(even) {
                border-right: 1px solid transparent;

                @include queryLager($break-large) {
                    border: 0;
                }
            }
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
                display: none;

                @include queryLager($break-large) {
                    display: inline-block;
                }
            }
        }
    }
}

.nav {
    $this: &;

    position: fixed;
    z-index: $z-max;
    width: 100%;
    height: 100%;
    display: none;

    &-inner {
        padding-top: 50px;
        position: absolute;
        z-index: $z-max + 2;
        right: 0;
        top: 0;
        width: 80%;
        height: 100%;
        background-color: #fff;
        transform: translate3d(100%, 0, 0);
        transition: transform $duration $easing;
    }

    &-trigger {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $color-default;

        &:hover {
            text-decoration: none;
        }

        > span {
            display: block;
            width: 20px;
            height: 4px;
            background-color: $color-default;
            position: absolute;
            left: 2px;
            top: 8px;

            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
        &-text {
            margin-top: 24px;
            font-size: 8px;
        }
    }
    &-menu {
        padding-bottom: 20px;
        &:last-of-type {
            padding-bottom: 0;
        }

        > dt {
            padding: 5px 18px;
            font-size: 12px;
            color: #555;
            background-color: #F2F0E1;
        }
        > dd {
            > a {
                display: block;
                font-size: 16px;
                padding: 10px 10px 10px 36px;
                color: $color-default;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &-back {
        position: fixed;
        z-index: $z-max + 1;
        left: 0;
        top: -25%;
        width: 100%;
        height: 150%;
        background-color: rgba(#000, .5);
        cursor: pointer;
    }

    //state
    &.is-active {
        #{$this}-inner {
            transform: translate3d(0, 0, 0);
        }
    }
}

.gnav {
    padding: 20px 0;
    &-list {
        margin: 0 -20px;
    }
    &-item {
        display: inline-block;
        padding: 0 20px;
        > a {
            color: $color-default;
            text-decoration: none;
            
            &:hover {
                color: $color-main;
            }
        }
    }
}

.banner {
    display: block;
    background-color: #000;

    img {
        transition: opacity $duration $easing;
    }

    &:hover {
        img {
            opacity: .7;
        }
    }
}

.sidebar-sp {
    @include queryLager($break-large) {
        display: none;
    }
}