        <!--javascript ここから-->
        <script src="./assets/js/vendor.js"></script>
        <script src="./assets/lib/slick-carousel/slick/slick.js"></script>
        <script src="./assets/js/app.js"></script>
        <!--javascript ここまで-->
        <script src="./assets/js/index.js"></script>
    </body>
</html>
