.l-footer {
    border-top: 4px solid #F2F0E1;
    background-color: #F3F3F3;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    font-size: 10px;

    > hr {
        border-top: 10px solid #fff;
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    &-top {
        background-color: #fff;
        padding: 10px 0;
        font-size: 0;
        letter-spacing: 0;
        margin-bottom: 10px;
        > li {
            display: inline-block;
            padding: 0 10px;
            color: $color-gray;
            border-right: 1px solid $color-gray;
            &:last-child {
                border-right: 0;
            }
            > a {
                font-size: 10px;
                color: $color-default;
            }
        }
    }
    &-bottom {
        > small {
            font-size: 8px;
            color: #888;
        }
    }
}