.l-sidebar {

    @include queryLager($break-large) {
        float: right;
        width: 320px;
    }

    &-ranking {
        @include queryLager($break-large) {
            margin: 30px 0;
        }
    }

    &-banner {
        display: none;
        @include queryLager($break-large) {
            display: block;
        }
    }
}