<div class="author <%= mf %>">
    <img class="author-img" src="<%= img %>" alt="">
    <dl class="author-body">
        <dt class="author-name"><%= authorName %></dt>
        <dd class="author-info"><%= info %></dd>
    </dl>
</div>