<div class="bread">
    <div class="l-container">
        <ol class="bread-list">
            <li class="bread-item">
                <a href="">TOP</a>
            </li>
            <li class="bread-item">
                <a href="">メニュー1</a>
            </li>
            <li class="bread-item">
                <a href="">メニュー2</a>
            </li>
        </ol>
    </div>
</div>