<div class="nav js-nav">
    <nav class="nav-inner">
        <a class="nav-trigger js-nav-close" href="javascript:void(0);">
            <span></span>
            <span></span>
            <div class="nav-trigger-text">閉じる</div>
        </a>
        <dl class="nav-menu">
            <dt>みる</dt>
            <dd>
                <a href="">ドクター監修記事</a>
            </dd>
            <dd>
                <a href="">ドクター一覧</a>
            </dd>
            <dd>
                <a href="">美容医療用語辞典</a>
            </dd>
        </dl>
        <dl class="nav-menu">
            <dt>bimonyについて</dt>
            <dd>
                <a href="">bimonyについて</a>
            </dd>
            <dd>
                <a href="">お問い合わせ</a>
            </dd>
            <dd>
                <a href="">会社概要</a>
            </dd>
            <dd>
                <a href="">利用規約</a>
            </dd>
            <dd>
                <a href="">プライバシーポリシー</a>
            </dd>
        </dl>
    </nav>
    <div class="nav-back js-nav-close"></div>
</div>