<aside class="ranking">
    <div class="ranking-heading">
        <%- include("_heading", {
        icon: include("../svg/_ranking"),
        text: "人気記事ランキング"
        }); %>
    </div>

    <ul class="ranking-list">
        <% for(var iMedia = 0; iMedia < mediaRankingArray.length; iMedia++) { %>
        <li>
            <%- include("_media", {
            num: iMedia + 1,
            mf: "media-ranking",
            img: mediaRankingArray[iMedia].img.src,
            height: mediaRankingArray[iMedia].img.height,
            width: mediaRankingArray[iMedia].img.width,
            alt: mediaRankingArray[iMedia].img.alt,
            cat: {
            mf: mediaRankingArray[iMedia].category,
            text: "目・aa"
            },
            heading: mediaRankingArray[iMedia].heading,
            author: {
            mf: mediaRankingArray[iMedia].author.mf,
            img: mediaRankingArray[iMedia].author.img,
            authorName: mediaRankingArray[iMedia].author.authorName,
            info: mediaRankingArray[iMedia].author.info
            }
            }) %>
        </li>
        <% } %>
    </ul>
</aside>