/*
#overview
category
*/

/*
#styleguide
category

```
<a class=";ctcategory" href="">
    <img src="http://placekitten.com/300/250" height="250" width="300" alt="">
</a>
*/

.category {
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    border: #000 solid 2px;
    background-color: #fff;
    border-radius: 55px;
    font-size: 9px;

    @include queryLager($break-large) {
        border-width: 1px;
    }

    //modifier
    &-sub {
        border: 0;
        padding: 0;
        width: calc(100% - 60px);
        position: relative;
        top: 3px;
        @extend .u-elps;

        @include queryLager($break-large) {
            width: calc(100% - 85px);
        }
    }

    &-card {
        @include queryLager($break-large) {
            font-size: 16px;
            border-width: 1px;
            padding: 13px 23px;
        }
    }

    //modifier color
    &-a {
        border-color: #FFA93D;
        color: #FFA93D;
    }
    &-b {
        border-color: #5FBF00;
        color: #5FBF00;
    }
    &-c {
        border-color: #1CB0E0;
        color: #1CB0E0;
    }
}