/*
#overview
headline
*/

/*
#styleguide
headline
```
<h1 class="headline">Headline</h1>
*/

.headline {
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 4px solid rgba(#DF8C66, .3);
}