    <!--footer ここから-->
    <footer class="l-footer l-footer-mt">
        <hr>
        <div class="l-container">
            <ul class="l-footer-top">
                <li>
                    <a href="">利用規約</a>
                </li>
                <li>
                    <a href="">プライバシーポリシー</a>
                </li>
                <li>
                    <a href="">お問い合わせ</a>
                </li>
            </ul>
            <div class="l-footer-bottom">
                <small>&copy; BIMONY  ALL rights reserved</small>
            </div>
        </div>
    </footer>
    <!--footer ここまで-->