<!--start header-->
<header class="l-header l-header-mb">
    <div class="l-container u-clear">

        <div class="l-header-left">
            <%- include('./view/module/_logo') %>
        </div>


        <div class="l-header-right">
            <a class="trigger" href="javascript:void(0);">
                <span></span>
                <span></span>
                <span></span>
                <div class="trigger-text">メニュー</div>
            </a>
        </div>
    </div>
</header>
<!--end header-->
