<!--start l-sidebar-->
<div class="l-sidebar">

    <div class="l-sidebar-banner">
        <a class="banner" href="">
            <img src="http://placekitten.com/350/350" alt="">
        </a>
    </div>

    <div class="l-sidebar-ranking">
        <%- include("../module/_ranking") %>
    </div>

    <div class="l-sidebar-banner">
        <a class="banner" href="">
            <img src="http://placekitten.com/350/350" alt="">
        </a>
    </div>
</div>
<!--end l-sidebar-->